syntax:glob

services/*/build/**
services/*/out/**
services/*/production/**
services/*/lib/*.jar
services/*/tools/lib/*.jar
services/*/tmp/**
services/*/.metadata/**
services/*/src/de/zib/gndms/shared
services/*/src/de/zib/gndms/shared/**
services/.metadata/**
services/**/derby.log
.DS_Store
*.ipr
*.iws
*.eml
*.iml
*.gar
gritserv/gndms-gritserv/**
infra/gndms-infra/**
model/gndms-model/**
kit/gndms-kit/**
stuff/gndms-stuff/**
typecon/gndms-typecon/**
tmp/**
model/derby.log
logic/gndms-logic/**
logic/out/**
logic/test/**
logic/production*/**
infra/production*/**
infra/test/**
ws-common/gndms-ws-common/production/**
ws-common/gndms-ws-common/test/**
gritserv/gndms-gritserv/production/**
gritserv/gndms-gritserv/test/**
gndmc/gndms-gndmc/production/**
gndmc/gndms-gndmc/test/**
gndmc-rest/gndms-gndmc-rest/production/**
gorfx/gndms-gorfx-rest/production/**
gorfx-commons/gndms-gorfx-commons/production/**
.classpath
.project
test-output/**
./changes
**/.svn/**
.svn/**
types/DSpace
types/GORFX
types/LOFIS
types/WHORFX
types/ws
types/wsrf
etc/sliceInOutClient.properties

syntax:regexp
.*\.swp
.*\.orig
.*~
.symlink
.#buildfile
lib/model/*
lib/stuff/*
lib/gritserv/*
lib/kit/*
lib/gndmc/*
lib/infra/*
lib/logic/*
lib/gorfx/*
lib/rest/*
lib/gorfx-commons/*
lib/gndmc-rest/*
*/resources/META-INF/GNDMS-RELEASE
*/resources/META-INF/GNDMS-BUILD-INFO
*/resources/META-INF/LICENSE
.#Buildfile
GNDMS-BUILD-INFO
services/GORFX/GORFX.jar
extra/
reports/
lib/jruby-*
services/DSpace/build/*
services/GORFX/build/*
services/LOFIS/build/*
