syntax:glob

services/*/build/**
services/*/out/**
services/*/production/**
services/*/lib/*.jar
services/*/lib/CONTENTS*
services/*/tools/lib/*.jar
services/*/tools/lib/CONTENTS*
services/*/tmp/**
services/*/.metadata/**
services/*/src/de/zib/gndms/shared
services/*/src/de/zib/gndms/shared/**
services/.metadata/**
services/**/derby.log
services/GORFX/GORFX.jar
.DS_Store
*.ipr
*.iws
*.eml
*.iml
*.gar
extra/test-jars/*.jar
extra/gndms-schema.tar
extra/lib/gndms-infra.jar
extra/lib/infra/*
extra/lib/gndms-stuff.jar
extra/lib/stuff/*
extra/lib/gndms-logic.jar
extra/lib/logic/*
extra/lib/gndms-kit.jar
extra/lib/kit/*
extra/lib/gndms-typecon.jar
extra/lib/typecon/*
extra/lib/DSpace.jar
extra/lib/GORFX.jar
extra/lib/gndms-model.jar
extra/lib/model/*
extra/tools-lib/gndms-groovy.jar
extra/lib/gritserv/*
extra/lib/gndms-gritserv.jar
gritserv/gndms-gritserv/**
infra/gndms-infra/**
model/gndms-model/**
kit/gndms-kit/**
stuff/gndms-stuff/**
typecon/gndms-typecon/**
tmp/**
model/derby.log
logic/gndms-logic/**
logic/out/**
logic/test/**
logic/production*/**
infra/production*/**
infra/test/**
ws-common/gndms-ws-common/production/**
ws-common/gndms-ws-common/test/**
.classpath
.project
test-output/**
./changes
**/.svn/**
.svn/**
types/DSpace
types/GORFX
types/LOFIS
types/WHORFX
types/ws
types/wsrf

syntax:regexp
.*\.swp
.*\.orig
.*~
.symlink
.#buildfile
extra/DEPENDENCIES
*/resources/META-INF/GNDMS-RELEASE
*/resources/META-INF/GNDMS-BUILD-INFO
*/resources/META-INF/LICENSE
.#Buildfile
