<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
	 <link rel="alternate" type="application/atom+xml" title="Atom" href="http://zibhub.github.com/GNDMS/news/atom.xml" >
   <link rel="stylesheet" type="text/css" href="{{ page.root }}/css/gndms.css" />
   <link rel="stylesheet" type="text/css" href="{{ page.root }}/css/highlight.css" />
   <link rel="shortcut icon" href="{{ page.root }}/favicon.ico" />
   <link rel="icon" type="image/gif" href="{{ page.root }}/animated_favicon1.gif" />
</head>

<body>
<div id="logo"><a href="{{ page.root }}"><img src="{{ page.root }}/logo/gndms-logo-wide-small.png" /></a></div>
<div id="wholepage">
<div id="header">
<a href="">GNDMS Generation N Data Management System</a>
</div>

<div id="content">
  {{ content }}
</div>

<div id="menu">
  <h6><a href="{{ page.root }}/index.html">About</a></h6>
  <h6><a href="{{ page.root }}/news/index.html">Newsblog</a></h6>
  <p>
  <h6>Get It</h6>
  <a href="http://github.com/zibhub/GNDMS/downloads">Download Releases</a><br />
  <a href="http://github.com/zibhub/GNDMS">Source Repository</a>
  </p>
  <p>
  <h6>Docs</h6>
  <a href="{{ page.root }}/installation-guide/index.html">Installation Guide</a><br />
  <a href="{{ page.root }}/moni-guide/index.html">Monitor Shell Guide</a><br />
  <a href="{{ page.root }}/architecture-primer/index.html">Architecture Primer</a><br />
  <a href="{{ page.root }}/developer-guide/index.html">Developer Guide</a><br />
 <a href="{{ page.root }}/glossary/index.html">Glossary</a>
  </p>
  <p>
  <h6>Contribute</h6>
  <a href="http://github.com/zibhub/GNDMS/issues">Bug Tracker</a><br />
  <a href="http://github.com/zibhub/GNDMS">Wiki</a>
  </p>
  <p>
  <h6>Related</h6>
  <a href="http://www.zib.de">Zuse Institute Berlin</a><br />
  <a href="http://www.onscale.de">onScale Solutions</a><br />
  <a href="http://www.irf.tu-dortmund.de/cms/de/Institut/">IRF TU Dortmund</a><br />
  <a href="http://www.c3grid.de">C3-Grid</a><br />
  <a href="http://www.pt-grid.de">PT-Grid</a><br />
  <a href="http://www.d-grid.de">D-Grid</a><br />
  </p>
  <h6><a href="{{ page.root }}/imprint/index.html">Imprint</a></h6>
  <h6><a href="{{ page.root }}/license/index.html">License</a></h6>
  <p>
  <script type="text/javascript" src="http://www.ohloh.net/p/484579/widgets/project_thin_badge.js"></script>
  </p>
</div>

</div></body></html>
