<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <link rel="stylesheet" type="text/css" href="/css/gndms.css" />
   <link rel="stylesheet" type="text/css" href="/css/highlight.css" />
</head>
<body><div id="wholepage">

<div id="header">
<a href="/">GNDMS Generation N Data Management System</a>
</div>

<div id="content">
  {{ content }}
</div>

<div id="menu">
  <h6><a href="/">About</a></h6>
  <h6><a href="/news">Newsblog</a></h6>
  <p>
  <h6>Get It</h6>
  <a href="http://github.com/zibhub/GNDMS/downloads">Download Releases</a><br></br>
  <a href="http://github.com/zibhub/GNDMS">Source Repository</a><br></br>
  </p>
  <p>
  <h6>Docs</h6>
  <a href="/installation-guide">Installation Guide</a><br></br>
  <a href="/moni-guide">Monitor Shell Guide</a><br></br>
  <a href="/architecture-primer">Architecture Primer</a><br></br>
  <a href="/developer-guide">Developer Guide</a><br></br>
 <a href="/glossary">Glossary</a><br></br>
  </p>
  <p>
  <h6>Contribute</h6>
  <a href="http://github.com/zibhub/GNDMS/issues">Bug Tracker</a><br></br>
  <a href="http://github.com/zibhub/GNDMS">Wiki</a>
  </p>
  <p>
  <h6>Related</h6>
  <a href="http://www.zib.de">Zuse Institute Berlin</a><br></br>
  <a href="http://www.irf.tu-dortmund.de/cms/de/Institut/">IRF TU Dortmund</a><br></br>
  <a href="http://www.c3grid.de">C3-Grid</a><br></br>
  <a href="http://www.pt-grid.de">PT-Grid</a><br></br>
  <a href="http://www.d-grid.de">D-Grid</a><br></br>
  </p>
  <h6><a href="/imprint">Imprint</a></h6>
  <h6><a href="/license">License</a></h6>
</div>

</div></body></html>
