<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <link rel="stylesheet" type="text/css" href="/css/gndms.css" />
</head>
<body><div id="wholepage">

<div id="header">
<a href="/">GNDMS Generation N Data Management System</a>
</div>

<div id="content">
  {{ content }}
</div>

<div id="menu">
  <a href="/">About GNDMS</a><br />
  <a href="/installation-guide">Installation Guide</a><br />
  <a href="/moni-guide">Monitor Shell Guide</a><br />
</div>

</div></body></html>
